body {
    font-family: cursive, "Nova Mono";
}

h1 {
    text-align: center;
}

hgroup {
    text-align: center;
}

#tablero {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border-style: solid;
}

.casilla {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    font-size: 4em;
    background-color: rgb(1, 139, 49);
    width: 94px;
    height: 94px;
    border-style: solid;
    border-color: #074e1d;
    cursor: pointer;
}

@media (min-width: 650px) {
    #tablero {
        width: 600px;
        height: 600px;
    }
    
    .casilla {
        width: 194px;
        height: 194px;
        font-size: 10em;
    }
}

.casilla:hover {
    background-color: #00aa35;
}

.casilla:active {
    background-color: #01f44d;
}

.reset {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: #4242c1;
    color:azure;
    cursor: pointer;
    font-size: 26px;
}

.selectno {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}